<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SETTING_URLS" value="urls_honestbeeph.txt" />
    <add key="SETTING_DOMAIN" value="https://www.honestbee.ph" />
    <add key="SETTING_OUTPUT_DIR" value="Data\honestbeeph-{0}.json" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>  
</configuration>